.rodapie__descripcion{
    display: flex;
   
    color: #8c8888;

}
@media screen and (min-width:0) {
    .rodapie__descripcion{
      
        font-size: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
    
    }   
}
@media screen and (min-width:768px) {
    .rodapie__descripcion{
        
        font-size: 2rem;
        margin-left: 5rem;
    
    }   
}